.btn-warnaku{
  background-color: #2f432d;
}
.bg-update{
  background-color: #4caf50;
}
.bg-tambah{
  background-color: #2f432d;
}
.list-none{
  list-style-type: none;
}
.color{
  color: #2f432d;
}
.btn-crkuhap{
  transition: 0.2s ease-in-out !important;
    background: #9e9e9e !important;
}
.btn-crkuup{
  transition: 0.2s ease-in-out !important;
    background: #9e9e9e !important;
}
.btn-crkuhap:hover{
    background: #ff5252 !important;
}
.btn-crkuup:hover{
    background: #4caf50 !important;
}
.bg-greyku{

  background: #d9d9d9;
}
.hover-btnku{
 transition: 0.2s ease-in-out !important;
}
.hover-btnku:hover {
transition: 0.2s ease-in-out !important;
background: #2f432d !important;
color: rgb(255, 255, 255) !important;
}
.hover-btnku:hover i {
  transition: 0.2s ease-in-out !important;
  color: rgb(255, 255, 255) !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  display: none;

  /* background:  rgb(3, 0, 20);; */
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
}
.sidebar-profil{
  background: #f3f3f3 !important;
}
.border-left{
border-left: 4px #616161 solid;
}


.custom-file-upload{
  background-color: #4caf50;
  transition: 0.3s;
}
.custom-file-upload:hover{
  background-color: #3e8f41;
}
.custom-file-upload-create{
  background-color: #2f432d;
  transition: 0.3s;
}
.custom-file-upload-create:hover{
  background-color: #273926;
}
.inputfileku{
  display:none;
}

